/* Table headers should never wrap */
th
{
    white-space: nowrap;   
}

/* Don't do margin below <ul> or <li> tags if in a table. */
table tbody td ul, table tbody td ul li
{
    margin-bottom: 0px;
}

/* Tables with class shrink-last will force no wrapping on all data cells except the very last */
table.shrink-last td
{
    white-space: nowrap;
}

table.shrink-last td:last-child
{
    white-space: normal;
}
